In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns

In [0]:
dataset=pd.read_csv(r'/content/home lone.csv')
dataset.describe()

       Dependents  ApplicantIncome  ...  Loan_Amount_Term  Credit_History
count  614.000000       614.000000  ...        614.000000      614.000000
mean     0.744300      5403.459283  ...        342.410423        0.773616
std      1.009623      6109.041673  ...         64.428629        0.418832
min      0.000000       150.000000  ...         12.000000        0.000000
25%      0.000000      2877.500000  ...        360.000000        1.000000
50%      0.000000      3812.500000  ...        360.000000        1.000000
75%      1.000000      5795.000000  ...        360.000000        1.000000
max      3.000000     81000.000000  ...        480.000000        1.000000

[8 rows x 6 columns]

In [0]:
dataset.head()

    Loan_ID Gender Married  ...  Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...               1         Urban           Y
1  LP001003   Male     Yes  ...               1         Rural           N
2  LP001005   Male     Yes  ...               1         Urban           Y
3  LP001006   Male     Yes  ...               1         Urban           Y
4  LP001008   Male      No  ...               1         Urban           Y

[5 rows x 13 columns]

# convert categorical data into numeric data

In [0]:
dataset.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [0]:
dump=dataset.copy()

In [0]:
l={'Male':1,'Female':0}

In [0]:
dataset['num_gender']=dataset['Gender'].map(l)

In [0]:
dataset.pop('Gender')

0        Male
1        Male
2        Male
3        Male
4        Male
        ...
609    Female
610      Male
611      Male
612      Male
613    Female
Name: Gender, Length: 614, dtype: object

In [0]:
s={'Graduate':1,'Not Graduate':0}
dataset['num_Education']=dataset['Education'].map(s)
dataset.pop('Education')
dataset

      Loan_ID Married  Dependents  ... Loan_Status  num_gender  num_Education
0    LP001002      No           0  ...           Y           1              1
1    LP001003     Yes           1  ...           N           1              1
2    LP001005     Yes           0  ...           Y           1              1
3    LP001006     Yes           0  ...           Y           1              0
4    LP001008      No           0  ...           Y           1              1
..        ...     ...         ...  ...         ...         ...            ...
609  LP002978      No           0  ...           Y           0              1
610  LP002979     Yes           3  ...           Y           1              1
611  LP002983     Yes           1  ...           Y           1              1
612  LP002984     Yes           2  ...           Y           1              1
613  LP002990      No           0  ...           N           0              1

[614 rows x 13 columns]

In [0]:
m={'No':0,'Yes':1,'N':0}
dataset['num_Married']=dataset['Married'].map(m)
dataset.pop('Married')
dataset

      Loan_ID  Dependents Self_Employed  ...  num_gender  num_Education  num_Married
0    LP001002           0            No  ...           1              1            0
1    LP001003           1            No  ...           1              1            1
2    LP001005           0           Yes  ...           1              1            1
3    LP001006           0            No  ...           1              0            1
4    LP001008           0            No  ...           1              1            0
..        ...         ...           ...  ...         ...            ...          ...
609  LP002978           0            No  ...           0              1            0
610  LP002979           3            No  ...           1              1            1
611  LP002983           1            No  ...           1              1            1
612  LP002984           2            No  ...           1              1            1
613  LP002990           0           Yes  ...           0              1            0

[614 rows x 13 columns]

In [0]:
dataset['num_Married'].values

array([0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0])

In [0]:
m={'No':0,'Yes':1}
dataset['num_Self_Employed']=dataset['Self_Employed'].map(m)
dataset.pop('Self_Employed')
dataset

      Loan_ID  Dependents  ...  num_Married  num_Self_Employed
0    LP001002           0  ...            0                  0
1    LP001003           1  ...            1                  0
2    LP001005           0  ...            1                  1
3    LP001006           0  ...            1                  0
4    LP001008           0  ...            0                  0
..        ...         ...  ...          ...                ...
609  LP002978           0  ...            0                  0
610  LP002979           3  ...            1                  0
611  LP002983           1  ...            1                  0
612  LP002984           2  ...            1                  0
613  LP002990           0  ...            0                  1

[614 rows x 13 columns]

In [0]:
p={'Urban':0,'Rural':1,'Semiurban':2}
dataset['num_Property_Area']=dataset['Property_Area'].map(p)
dataset.pop('Property_Area')
dataset

      Loan_ID  Dependents  ...  num_Self_Employed  num_Property_Area
0    LP001002           0  ...                  0                  0
1    LP001003           1  ...                  0                  1
2    LP001005           0  ...                  1                  0
3    LP001006           0  ...                  0                  0
4    LP001008           0  ...                  0                  0
..        ...         ...  ...                ...                ...
609  LP002978           0  ...                  0                  1
610  LP002979           3  ...                  0                  1
611  LP002983           1  ...                  0                  0
612  LP002984           2  ...                  0                  0
613  LP002990           0  ...                  1                  2

[614 rows x 13 columns]

In [0]:
p={'Y':1,'N':0}
dataset['num_Loan_Status']=dataset['Loan_Status'].map(p)
dataset.pop('Loan_Status')
dataset

      Loan_ID  Dependents  ...  num_Property_Area  num_Loan_Status
0    LP001002           0  ...                  0                1
1    LP001003           1  ...                  1                0
2    LP001005           0  ...                  0                1
3    LP001006           0  ...                  0                1
4    LP001008           0  ...                  0                1
..        ...         ...  ...                ...              ...
609  LP002978           0  ...                  1                1
610  LP002979           3  ...                  1                1
611  LP002983           1  ...                  0                1
612  LP002984           2  ...                  0                1
613  LP002990           0  ...                  2                0

[614 rows x 13 columns]

In [0]:
dataset.pop('Loan_ID')

0      LP001002
1      LP001003
2      LP001005
3      LP001006
4      LP001008
         ...
609    LP002978
610    LP002979
611    LP002983
612    LP002984
613    LP002990
Name: Loan_ID, Length: 614, dtype: object

In [0]:
target=dataset.pop('num_Loan_Status')

In [0]:
dataset.head()

   Dependents  ApplicantIncome  ...  num_Self_Employed  num_Property_Area
0           0             5849  ...                  0                  0
1           1             4583  ...                  0                  1
2           0             3000  ...                  1                  0
3           0             2583  ...                  0                  0
4           0             6000  ...                  0                  0

[5 rows x 11 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_train,x_test,y_train,y_test=train_test_split(dataset,target,test_size=0.2,random_state=1)

In [0]:
from sklearn.tree import DecisionTreeClassifier
from scipy.stats import uniform
from sklearn import linear_model, datasets
from sklearn.model_selection import RandomizedSearchCV

In [0]:
logistic = linear_model.LogisticRegression()

penalty = ['l1', 'l2']
C = uniform(loc=0, scale=4)
hyperparameters = dict(C=C, penalty=penalty)
randomizedsearch = RandomizedSearchCV(
logistic, hyperparameters, random_state=1, n_iter=2, cv=5, verbose=1,
n_jobs=-1)
best_model = randomizedsearch.fit(x_train, y_train)

Fitting 5 folds for each of 2 candidates, totalling 10 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    1.4s finished

In [0]:
pred=randomizedsearch.predict(x_test)
pred

array([0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1])

# **Logistic regression accuracy**

In [0]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.7479674796747967

In [0]:
from sklearn import metrics
print(np.sqrt(metrics.mean_squared_error(y_test,pred)))

0.5020284058947294

In [0]:
deci=DecisionTreeClassifier(random_state=0)
deci.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [0]:
pred=deci.predict(x_test)
pred

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0])

# **DecisionTreeClassifier accuracy**

In [0]:
accuracy_score(y_test,pred)

0.6991869918699187

In [0]:
from sklearn.ensemble import RandomForestClassifier
randomforest_entropy = RandomForestClassifier(random_state = 1,
                                  n_estimators = 750,
                                  max_depth = 15, 
                                  min_samples_split = 5,  min_samples_leaf = 1) 
randomforest_entropy.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=15, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=5,
                       min_weight_fraction_leaf=0.0, n_estimators=750,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [0]:
pred=randomforest_entropy.predict(x_test)
accuracy_score(y_test,pred)

0.7560975609756098

In [0]:
from sklearn.model_selection import GridSearchCV
forest=RandomForestClassifier()
n_estimators = [100, 300, 500, 800, 1200]
max_depth = [5, 8, 15, 25, 30]
min_samples_split = [2, 5, 10, 15, 100]
min_samples_leaf = [1, 2, 5, 10] 

hyperF = dict(n_estimators = n_estimators, max_depth = max_depth,  
              min_samples_split = min_samples_split, 
             min_samples_leaf = min_samples_leaf)

gridF = GridSearchCV(forest, hyperF, cv = 3, verbose = 1, 
                      n_jobs = -1)
bestF = gridF.fit(x_train, y_train)

Fitting 3 folds for each of 500 candidates, totalling 1500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:   27.9s
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done 446 tasks      | elapsed:  4.6min
[Parallel(n_jobs=-1)]: Done 796 tasks      | elapsed:  8.2min
[Parallel(n_jobs=-1)]: Done 1246 tasks      | elapsed: 12.9min
[Parallel(n_jobs=-1)]: Done 1500 out of 1500 | elapsed: 15.5min finished

In [0]:
bestF.get_params

<bound method BaseEstimator.get_params of GridSearchCV(cv=3, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'max_depth': [5, 8, 15, 25, 30],
                         'min_samples_leaf': [1, 2, 5, 10],
                         'min_samples_split': [2, 5, 10, 15, 100],
                         'n_estimators': [100, 300, 500, 800, 1200]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=1)>

# **RandomForestClassifier accuracy**

In [0]:
bestF.best_score_

0.7637538031822036

In [0]:
pred=bestF.predict(x_test)
accuracy_score(y_test,pred)

0.7560975609756098